## Task2

###    На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def summ_fruits(**kwargs):
    S=0
    for key, value in kwargs.items():
        S+=value
    return S

In [2]:
summ_fruits(apple=10,peach=5,pear=6,banana=7)

28

###

## Task3

### Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

In [3]:
data=[100, 125, -90, 345, 655, -1, 0, 200]

In [4]:
new_data=[el for el in data if el>=0]
print(new_data)

[100, 125, 345, 655, 0, 200]

In [5]:
S=0
for el in new_data:
    S+=el
print(S)

1425

##

## Task4

### 4.1 Найдите, какая выручка у компании в ноябре

In [6]:
date_selling=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

summ_selling=[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [7]:
summ_november=[summ_selling[i] for i in range(len(date_selling))if date_selling[i].split('-')[1]=='11']
summ_november

[4944, 3701, 7037, 4274, 2004, 2822, 316]

In [8]:
S=0
for el in summ_november:
    S+=el
print(S)

25098

### 4.2 Найдите выручку компании в зависимости от месяца

In [9]:
def selling_months(date:list,selling:list)->dict:
    final_dict={date_selling[i].split('-')[1]:0 for i in range(len(date_selling))}
    for key in final_dict:
        for i in range(len(summ_selling)):
            if date_selling[i].split('-')[1]==key:
                final_dict[key]+=summ_selling[i]
        
        
    return final_dict

In [10]:
selling_months(date_selling,summ_selling)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}